* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    color: #fff;
    background-color: #20364d;
}

header {
    width: 100vw;

    display: flex;
}

.logo {
    width: 50%;
    padding-left: 4rem;
    padding-top: 2rem;
    padding-bottom: .5rem;
}
.logo img {
    width: 10em;
}

nav {
    width: 50%;
    padding-right: 4rem;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: .1rem;
}
main {
    width: 100vw;
    padding-left: 4rem;
    padding-top: 2rem;
}

main article {
    width: 50%;
    float: left;
}
article h1 {
    font-size: 3.5rem;
}

article h1 span {
    color: #ffc41c;
}
article p {
    text-align: left;
    padding-left: 1rem;
    padding-right: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 20px;
    color: #fff;
}

article .inputs {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

article .inputs input {
    border: none;
    outline: none;
    align-self: flex-start;

    border-radius: 5rem;
    padding: .5rem 3rem;
}

main .banner {
    width: 50%;
    float: right;

}

main .banner img {
    width: 100%;
    height: 100%;
}

.btn {
    opacity: 0.9;
    background-color: #ffc41c;
    font-weight: 600;
    letter-spacing: 0.1rem;
    cursor: pointer;
    margin-top: 1rem;

    transition: .5s ease-out;
}

.btn:hover {
    opacity: 1;
}
